#base:

**/.console_history
**/banned-ips.json
**/banned-players.json
**/ops.json
**/usercache.json
**/version_history.json
**/whitelist.json
**/cache
**/versions
**/libraries
**/logs
**/*.jar #Can be removed when .gitignore is verified to not have any paid plugins in the repo. Depends on size.
!**/plugins/*.jar #Can be removed when .gitignore is verified to not have any paid plugins in the repo.
**/world
**/world_nether
**/world_the_end

#servers:
##proxy

**/modules
**/modules.yml
**/locations.yml

#plugins:
##premium:

**/plugins/CMI*.jar
**/plugins/FeatherBoard.jar
**/plugins/SuperTrailsPro.jar

##worldguard

**/plugins/WorldGuard/cache
**/plugins/WorldGuard/profiles.sqlite

##worldedit

**/plugins/WorldEdit/.archive-unpack
**/plugins/WorldEdit/assets
**/plugins/WorldEdit/sessions

##ultracosmetics

**/plugins/UltraCosmetics/data

##titlemanager

**/plugins/TitleManager/playerinfo.sqlite

##tempfly

**/plugins/TempFly/data.yml

##skript

**/plugins/Skript/backups
**/plugins/Skript/variables.csv

##plan

**/plugins/Plan

**/plugins/Multiverse-Inventories/groups
**/plugins/Multiverse-Inventories/players
**/plugins/Multiverse-Inventories/worlds